.home {
  /* display: flex; */
  /* align-items: left; */
  flex-direction: column;
  /* font-family: sans-serif; */
  /* position: relative; */
  /* overflow: hidden; */
  /* z-index: auto; */
}

#gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  max-width: 100%;
  z-index: -100;
  --gradient-color-1: #000d55; 
  --gradient-color-2: #222222; 
  --gradient-color-3: #390e53;  
  --gradient-color-4: #692525;
}

.headingContainer {
  height: max-content;
  /* z-index: -1; */
  
}

.headingContainer h1 {
  display: flex;
  padding: 3rem 0rem 0rem;
  justify-content: center;
  /* align-items: end; */
  font-size: 5rem;
  /* font-weight: 800; */
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(200, 200, 30);
  
  font-family: 'OffBit', bitbold;
  transition: fade-in 3s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .headingContainer h1 {
    display: none;
  }
}

.headingContainer p {
  font-family: "FiraCode", normal;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  padding: 4rem 0rem 0rem;
  font-size: 1.3rem;
  color: rgb(210, 210, 210);
  text-shadow: 0 0 10px rgb(200, 200, 30);
}

.buttonCont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 2rem;
}
.buttonCont button {
  background-color: transparent;
  position: relative;
  padding: 30px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #03e9f4;
  font-size: 1.5rem;
  font-family: "FiraCode", bold;
  transition: .5s;
  overflow: hidden;
  border: none;
}
  .buttonCont button:hover {
    background-color: #03e9f4;
   color: #050801;
    box-shadow: 0 0 5px #03e9f4, 
               0 0 25px #03e9f4, 
               0 0 50px #03e9f4,
               0 0 200px #03e9f4;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
   }
    .buttonCont button span {
      position: absolute;
      display: block;
    }
    .buttonCont button span:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: animate1 1s infinite;
    }
    @keyframes animate1 {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
    .buttonCont button span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: animate2 1s infinite;
      animation-delay: .25s
    }
    @keyframes animate2 {
      0% {
        top: -100%;
      }
      100% {
        top: 100%;
      }
    }
    .buttonCont button span:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: animate3 1s infinite;
      animation-delay: .5s
    }
    @keyframes animate3 {
      0% {
        right: -100%;
      }
      100% {
        right: 100%;
      }
    }
    .buttonCont button span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: animate4 1s infinite;
      animation-delay: .75s
    }
    @keyframes animate4 {
      0% {
        bottom: -100%;
      }
      100% {
        bottom: 100%;
      }
    }
