.footer {
  width: 100%;
  height: 175px;
  /* background-color: #121619; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: liner-gradient(transparent, black);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-blend-mode: exclusion;
  background: rgba(0, 0, 0, 0.4);
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  font-family: 'FiraCode';
  font-weight: normal;
  font-style: bold;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialMedia p {
  display: flex;
  gap: 15px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  transition: color 0.3s;
  
}

.socialMedia a {
  padding-inline: 0.5em;
  text-decoration: none;
  background: linear-gradient(#2125fba1 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200%
    calc(100% * var(--i, 0) + 0.08em);
  transition: 0.3s calc(var(--i, 0) * 0.3s),
    background-position 0.3s calc(0.3s - calc(var(--i, 0) * 0.3s));
}

.socialMedia a {
  font-family: 'FiraCode';
  font-weight: normal;
  font-style: normal;
}
.socialMedia a{
  text-decoration: none;
}
.socialMedia:hover h2 {
  box-shadow: 0px 1px 0px rgb(63, 185, 80);
}
.socialMedia svg:hover {
  filter: drop-shadow(0 0 5px rgba(48, 86, 63, 0.863))
  drop-shadow(0 0 10px rgba(48, 86, 63, 0.774))
  drop-shadow(0 0 15px rgba(48, 86, 63, 0.616))
}

.socialMedia svg {
  color: rgb(219, 255, 224);
  margin: 0 0px;
  font-size: 60px;
  cursor: pointer;
}

.footer h2 {
  width: max-content;
  color: white;
  display: flex;
  padding-top: px;
  margin-inline: 12px;
  font-family: 'Bitmap';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(63, 185, 80);
}

.contactUs {
  color: white;
  box-sizing: content-box;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 255);
  cursor: pointer;
  font-family: 'FiraCode';
  font-weight: bold;
  font-style: normal;
  padding-top: 10px;
}
.contactUs:hover {
  box-shadow:  0px 2px 0px rgba(0, 0, 255);
}

.copy {
  color: grey;
  padding-top: 0.7rem;
}